<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>
    <title>Document</title>
</head>
<body>
    <table class="table"> <!-- tabla datos de usuario -->
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Fono</th>
                <th>Opción</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% for donacion_key, donacion_value in user.donaciones.items %}
                    <tr>
                        {% if forloop.first %}
                            <!-- Mostrar información del usuario solo en la primera fila de donaciones -->
                            <td rowspan="{{ user.donaciones|length }}">{{ user.nombre }}</td>
                            <td rowspan="{{ user.donaciones|length }}">{{ user.apellido }}</td>
                            <td rowspan="{{ user.donaciones|length }}">{{ user.correo }}</td>
                            <td rowspan="{{ user.donaciones|length }}">{{ user.fono }}</td>
                        
                            <td>
                                <a href="{% url 'ver_donaciones' user.id %}" class="btn btn-primary">Ver donaciones</a>
                            </td>
                        {% endif %}    
                    </tr>
                {% endfor %}
                
            {% endfor %}
        </tbody>
    </table>
  
    
    
    
