<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>
    <title>Document</title>
</head>


<body class="container mt-5" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/../formUsuario/">Lista Usuarios</a>
              <a class="nav-link active" href="/../historial_don/">Historial Donaciones</a>
              <a class="nav-link" href="{% url 'admin:logout' %}">Cerrar Sesión</a>
            </div>
          </div>
        </div>
      </nav>
      <br>
    <table class="table shadow-lg p-3 mb-5 bg-body rounded"> <!-- tabla datos de usuario -->
        <thead>
            <tr class="bg-dark text-white">
                <th class="text-center border">Nombre</th>
                <th class="text-center border">Apellido</th>
                <th class="text-center border">Correo</th>
                <th class="text-center border">Fono</th>
                <th class="text-center border">Opción</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% for donacion_key, donacion_value in user.donaciones.items %}
                    <tr class="bg-secondary text-white">
                        {% if forloop.first %}
                            <!-- Mostrar información del usuario solo en la primera fila de donaciones -->
                            <td rowspan="{{ user.donaciones|length }}" class="border">{{ user.nombre }}</td>
                            <td rowspan="{{ user.donaciones|length }}" class="border">{{ user.apellido }}</td>
                            <td rowspan="{{ user.donaciones|length }}" class="border">{{ user.correo }}</td>
                            <td rowspan="{{ user.donaciones|length }}" class="border">{{ user.fono }}</td>
                        
                            <td class="text-center">
                                <a href="{% url 'ver_donaciones' user.id %}" class="btn btn-outline-light " >Ver donaciones</a>
                            </td>
                        {% endif %}    
                    </tr>
                {% endfor %}
                
            {% endfor %}
        </tbody>
    </table>
</body>
  
    
    
    
