<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>
    <title>Document</title>
</head>
<body>
    <table class="table"> <!-- tabla datos de usuario -->
        <thead>
            <tr>
                <th >Tipo de prenda</th>
                <th >Talla</th>
                <th >Estado</th>
                <th >Detalle</th>
                <th>Imagen</th>
                <th>Aceptar/Rechazar</th>

            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% for donacion_key, donacion_value in user.donaciones.items %}
                    <tr>
                        <td>{{ donacion_value.tipo_prenda|default:"Sin información" }}</td>
                        <td>{{ donacion_value.talla|default:"Sin información" }}</td>
                        <td>{{ donacion_value.estado|default:"Sin información" }}</td>
                        <td>{{ donacion_value.detalle|default:"Sin información" }}</td>
                        <td>
                            <!-- Agrega un enlace para abrir la imagen en grande -->
                            <a href="#!" data-bs-toggle="modal" data-bs-target="#imagenModal{{ donacion_key}}">
                                <img src="{{ donacion_value.img }}" alt="Imagen" class="img-fluid" width="30" height="30">
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-success">Aceptar</button>         
                            <button class="btn btn-danger">Rechazar</button>    
                        </td>
                    </tr>
                    <!---Ventana Modal de bootstrap, muestra en grande la imagen al presionarla-->
                    <div class="modal fade" id="imagenModal{{ donacion_key }}" tabindex="-1" role="dialog" aria-labelledby="imagenModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imagenModalLabel">Presione afuera para salir</h5>
                                    
                                </div>
                                <div class="modal-body">
                                    <img src="{{ donacion_value.img }}" alt="Imagen en grande" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if user.donaciones|length == 0 %}
                    <!-- Si no hay donaciones -->
                    <tr>
                        <td colspan="4">Sin donaciones</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
<body>
