<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>
    <title>Historial</title>
</head>
<body class="container mt-5" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/../formUsuario/">Lista Usuarios</a>
              <a class="nav-link active" href="/../historial_don/">Historial Donaciones</a>
              <a class="nav-link" href="{% url 'admin:logout' %}">Cerrar Sesión</a>
            </div>
          </div>
        </div>
      </nav>
      <br>
    <table class="table shadow p-3 mb-5 bg-body rounded"> <!-- tabla datos de usuario -->
        <thead>
            <tr class="bg-dark text-white">
                <th class="text-center border">Tipo de prenda</th>
                <th class="text-center border">Talla</th>
                <th class="text-center border">Estado</th>
                <th class="text-center border">Detalle</th>
                <th class="text-center border">Imagen</th>
                <th class="text-center border">Estado</th>
                <th class="text-center border">Fecha</th>


            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% for donacion_key, donacion_value in user.donaciones.items %}
                    <tr class="bg-secondary text-white" >
                        <td class="border">{{ donacion_value.tipo_prenda|default:"Sin información" }}</td>
                        <td class="border">{{ donacion_value.talla|default:"Sin información" }}</td>
                        <td class="border">{{ donacion_value.estado|default:"Sin información" }}</td>
                        <td class="border">{{ donacion_value.detalle|default:"Sin información" }}</td>
                        <td class="border">
                            <!-- Agrega un enlace para abrir la imagen en grande -->
                            <a href="#!" data-bs-toggle="modal" data-bs-target="#imagenModal{{ donacion_key}}">
                                <img src="{{ donacion_value.img }}" alt="Imagen" class="img-fluid" width="30" height="30">
                            </a>
                        </td>
                        <td class="border">{{ donacion_value.estado|default:"Sin información" }}</td>
                        <td class="border">{{ donacion_value.fecha|default:"Sin información" }}</td>
                    </tr>
                    <!---Ventana Modal de bootstrap, muestra en grande la imagen al presionarla-->
                    <div class="modal fade" id="imagenModal{{ donacion_key }}" tabindex="-1" role="dialog" aria-labelledby="imagenModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imagenModalLabel">Presione afuera para salir</h5>
                                    
                                </div>
                                <div class="modal-body">
                                    <img src="{{ donacion_value.img }}" alt="Imagen en grande" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            {% endfor %}
        </tbody>
    </table>
<body>
